@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.search-input input {
    padding: 10px;
    width: 50%;
    float: left;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
}

.search-input button {
    padding: 10px;
    width: 5%;
    float: left;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    color: white;
    background: #2196F3;
    cursor: pointer;
}

.search-input button:hover {
    background: #0b7dda;
  }
